# --- Data you don't want in Git ---
data/in/
data/out/

# OS clutter
.DS_Store

# --- KNIME: MUST IGNORE ---
# Node output data
**/port_*/
**/internal*/
**/internalTables*/
**/object*/

# KNIME artifacts
**/.savedWithData
**/data.xml
**/spec.xml
**/*.table
**/*portobject.zip
**/*.zip

# KNIME workflow temp files
**/.knimeLock
**/temp/
**/filestore/

# Eclipse/KNIME project metadata
.project
.classpath
.settings/
.metadata/