<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="nrClusters_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="nrClusters" type="xint" value="5"/>
        <config key="centroid_initialization_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="centroid_initialization" type="xstring" value="RANDOM_INITIALIZATION"/>
        <config key="centroid_seeds_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMN_long_seed"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="centroid_seeds" type="xlong" value="0"/>
        <entry key="centroid_seeds_BOOL" type="xboolean" value="true"/>
        <config key="maxNrIterations_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="maxNrIterations" type="xint" value="100"/>
        <config key="cfgColmns_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_filterString"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="cfgColmns">
            <config key="InclList">
                <entry key="array-size" type="xint" value="200"/>
                <entry key="0" type="xstring" value="PC1"/>
                <entry key="1" type="xstring" value="PC2"/>
                <entry key="2" type="xstring" value="PC3"/>
                <entry key="3" type="xstring" value="PC4"/>
                <entry key="4" type="xstring" value="PC5"/>
                <entry key="5" type="xstring" value="PC6"/>
                <entry key="6" type="xstring" value="PC7"/>
                <entry key="7" type="xstring" value="PC8"/>
                <entry key="8" type="xstring" value="PC9"/>
                <entry key="9" type="xstring" value="PC10"/>
                <entry key="10" type="xstring" value="PC11"/>
                <entry key="11" type="xstring" value="PC12"/>
                <entry key="12" type="xstring" value="PC13"/>
                <entry key="13" type="xstring" value="PC14"/>
                <entry key="14" type="xstring" value="PC15"/>
                <entry key="15" type="xstring" value="PC16"/>
                <entry key="16" type="xstring" value="PC17"/>
                <entry key="17" type="xstring" value="PC18"/>
                <entry key="18" type="xstring" value="PC19"/>
                <entry key="19" type="xstring" value="PC20"/>
                <entry key="20" type="xstring" value="PC21"/>
                <entry key="21" type="xstring" value="PC22"/>
                <entry key="22" type="xstring" value="PC23"/>
                <entry key="23" type="xstring" value="PC24"/>
                <entry key="24" type="xstring" value="PC25"/>
                <entry key="25" type="xstring" value="PC26"/>
                <entry key="26" type="xstring" value="PC27"/>
                <entry key="27" type="xstring" value="PC28"/>
                <entry key="28" type="xstring" value="PC29"/>
                <entry key="29" type="xstring" value="PC30"/>
                <entry key="30" type="xstring" value="PC31"/>
                <entry key="31" type="xstring" value="PC32"/>
                <entry key="32" type="xstring" value="PC33"/>
                <entry key="33" type="xstring" value="PC34"/>
                <entry key="34" type="xstring" value="PC35"/>
                <entry key="35" type="xstring" value="PC36"/>
                <entry key="36" type="xstring" value="PC37"/>
                <entry key="37" type="xstring" value="PC38"/>
                <entry key="38" type="xstring" value="PC39"/>
                <entry key="39" type="xstring" value="PC40"/>
                <entry key="40" type="xstring" value="PC41"/>
                <entry key="41" type="xstring" value="PC42"/>
                <entry key="42" type="xstring" value="PC43"/>
                <entry key="43" type="xstring" value="PC44"/>
                <entry key="44" type="xstring" value="PC45"/>
                <entry key="45" type="xstring" value="PC46"/>
                <entry key="46" type="xstring" value="PC47"/>
                <entry key="47" type="xstring" value="PC48"/>
                <entry key="48" type="xstring" value="PC49"/>
                <entry key="49" type="xstring" value="PC50"/>
                <entry key="50" type="xstring" value="PC51"/>
                <entry key="51" type="xstring" value="PC52"/>
                <entry key="52" type="xstring" value="PC53"/>
                <entry key="53" type="xstring" value="PC54"/>
                <entry key="54" type="xstring" value="PC55"/>
                <entry key="55" type="xstring" value="PC56"/>
                <entry key="56" type="xstring" value="PC57"/>
                <entry key="57" type="xstring" value="PC58"/>
                <entry key="58" type="xstring" value="PC59"/>
                <entry key="59" type="xstring" value="PC60"/>
                <entry key="60" type="xstring" value="PC61"/>
                <entry key="61" type="xstring" value="PC62"/>
                <entry key="62" type="xstring" value="PC63"/>
                <entry key="63" type="xstring" value="PC64"/>
                <entry key="64" type="xstring" value="PC65"/>
                <entry key="65" type="xstring" value="PC66"/>
                <entry key="66" type="xstring" value="PC67"/>
                <entry key="67" type="xstring" value="PC68"/>
                <entry key="68" type="xstring" value="PC69"/>
                <entry key="69" type="xstring" value="PC70"/>
                <entry key="70" type="xstring" value="PC71"/>
                <entry key="71" type="xstring" value="PC72"/>
                <entry key="72" type="xstring" value="PC73"/>
                <entry key="73" type="xstring" value="PC74"/>
                <entry key="74" type="xstring" value="PC75"/>
                <entry key="75" type="xstring" value="PC76"/>
                <entry key="76" type="xstring" value="PC77"/>
                <entry key="77" type="xstring" value="PC78"/>
                <entry key="78" type="xstring" value="PC79"/>
                <entry key="79" type="xstring" value="PC80"/>
                <entry key="80" type="xstring" value="PC81"/>
                <entry key="81" type="xstring" value="PC82"/>
                <entry key="82" type="xstring" value="PC83"/>
                <entry key="83" type="xstring" value="PC84"/>
                <entry key="84" type="xstring" value="PC85"/>
                <entry key="85" type="xstring" value="PC86"/>
                <entry key="86" type="xstring" value="PC87"/>
                <entry key="87" type="xstring" value="PC88"/>
                <entry key="88" type="xstring" value="PC89"/>
                <entry key="89" type="xstring" value="PC90"/>
                <entry key="90" type="xstring" value="PC91"/>
                <entry key="91" type="xstring" value="PC92"/>
                <entry key="92" type="xstring" value="PC93"/>
                <entry key="93" type="xstring" value="PC94"/>
                <entry key="94" type="xstring" value="PC95"/>
                <entry key="95" type="xstring" value="PC96"/>
                <entry key="96" type="xstring" value="PC97"/>
                <entry key="97" type="xstring" value="PC98"/>
                <entry key="98" type="xstring" value="PC99"/>
                <entry key="99" type="xstring" value="PC100"/>
                <entry key="100" type="xstring" value="PC101"/>
                <entry key="101" type="xstring" value="PC102"/>
                <entry key="102" type="xstring" value="PC103"/>
                <entry key="103" type="xstring" value="PC104"/>
                <entry key="104" type="xstring" value="PC105"/>
                <entry key="105" type="xstring" value="PC106"/>
                <entry key="106" type="xstring" value="PC107"/>
                <entry key="107" type="xstring" value="PC108"/>
                <entry key="108" type="xstring" value="PC109"/>
                <entry key="109" type="xstring" value="PC110"/>
                <entry key="110" type="xstring" value="PC111"/>
                <entry key="111" type="xstring" value="PC112"/>
                <entry key="112" type="xstring" value="PC113"/>
                <entry key="113" type="xstring" value="PC114"/>
                <entry key="114" type="xstring" value="PC115"/>
                <entry key="115" type="xstring" value="PC116"/>
                <entry key="116" type="xstring" value="PC117"/>
                <entry key="117" type="xstring" value="PC118"/>
                <entry key="118" type="xstring" value="PC119"/>
                <entry key="119" type="xstring" value="PC120"/>
                <entry key="120" type="xstring" value="PC121"/>
                <entry key="121" type="xstring" value="PC122"/>
                <entry key="122" type="xstring" value="PC123"/>
                <entry key="123" type="xstring" value="PC124"/>
                <entry key="124" type="xstring" value="PC125"/>
                <entry key="125" type="xstring" value="PC126"/>
                <entry key="126" type="xstring" value="PC127"/>
                <entry key="127" type="xstring" value="PC128"/>
                <entry key="128" type="xstring" value="PC129"/>
                <entry key="129" type="xstring" value="PC130"/>
                <entry key="130" type="xstring" value="PC131"/>
                <entry key="131" type="xstring" value="PC132"/>
                <entry key="132" type="xstring" value="PC133"/>
                <entry key="133" type="xstring" value="PC134"/>
                <entry key="134" type="xstring" value="PC135"/>
                <entry key="135" type="xstring" value="PC136"/>
                <entry key="136" type="xstring" value="PC137"/>
                <entry key="137" type="xstring" value="PC138"/>
                <entry key="138" type="xstring" value="PC139"/>
                <entry key="139" type="xstring" value="PC140"/>
                <entry key="140" type="xstring" value="PC141"/>
                <entry key="141" type="xstring" value="PC142"/>
                <entry key="142" type="xstring" value="PC143"/>
                <entry key="143" type="xstring" value="PC144"/>
                <entry key="144" type="xstring" value="PC145"/>
                <entry key="145" type="xstring" value="PC146"/>
                <entry key="146" type="xstring" value="PC147"/>
                <entry key="147" type="xstring" value="PC148"/>
                <entry key="148" type="xstring" value="PC149"/>
                <entry key="149" type="xstring" value="PC150"/>
                <entry key="150" type="xstring" value="PC151"/>
                <entry key="151" type="xstring" value="PC152"/>
                <entry key="152" type="xstring" value="PC153"/>
                <entry key="153" type="xstring" value="PC154"/>
                <entry key="154" type="xstring" value="PC155"/>
                <entry key="155" type="xstring" value="PC156"/>
                <entry key="156" type="xstring" value="PC157"/>
                <entry key="157" type="xstring" value="PC158"/>
                <entry key="158" type="xstring" value="PC159"/>
                <entry key="159" type="xstring" value="PC160"/>
                <entry key="160" type="xstring" value="PC161"/>
                <entry key="161" type="xstring" value="PC162"/>
                <entry key="162" type="xstring" value="PC163"/>
                <entry key="163" type="xstring" value="PC164"/>
                <entry key="164" type="xstring" value="PC165"/>
                <entry key="165" type="xstring" value="PC166"/>
                <entry key="166" type="xstring" value="PC167"/>
                <entry key="167" type="xstring" value="PC168"/>
                <entry key="168" type="xstring" value="PC169"/>
                <entry key="169" type="xstring" value="PC170"/>
                <entry key="170" type="xstring" value="PC171"/>
                <entry key="171" type="xstring" value="PC172"/>
                <entry key="172" type="xstring" value="PC173"/>
                <entry key="173" type="xstring" value="PC174"/>
                <entry key="174" type="xstring" value="PC175"/>
                <entry key="175" type="xstring" value="PC176"/>
                <entry key="176" type="xstring" value="PC177"/>
                <entry key="177" type="xstring" value="PC178"/>
                <entry key="178" type="xstring" value="PC179"/>
                <entry key="179" type="xstring" value="PC180"/>
                <entry key="180" type="xstring" value="PC181"/>
                <entry key="181" type="xstring" value="PC182"/>
                <entry key="182" type="xstring" value="PC183"/>
                <entry key="183" type="xstring" value="PC184"/>
                <entry key="184" type="xstring" value="PC185"/>
                <entry key="185" type="xstring" value="PC186"/>
                <entry key="186" type="xstring" value="PC187"/>
                <entry key="187" type="xstring" value="PC188"/>
                <entry key="188" type="xstring" value="PC189"/>
                <entry key="189" type="xstring" value="PC190"/>
                <entry key="190" type="xstring" value="PC191"/>
                <entry key="191" type="xstring" value="PC192"/>
                <entry key="192" type="xstring" value="PC193"/>
                <entry key="193" type="xstring" value="PC194"/>
                <entry key="194" type="xstring" value="PC195"/>
                <entry key="195" type="xstring" value="PC196"/>
                <entry key="196" type="xstring" value="PC197"/>
                <entry key="197" type="xstring" value="PC198"/>
                <entry key="198" type="xstring" value="PC199"/>
                <entry key="199" type="xstring" value="PC200"/>
            </config>
            <config key="ExclList">
                <entry key="array-size" type="xint" value="0"/>
            </config>
            <entry key="keep_all_columns_selected" type="xboolean" value="false"/>
        </config>
        <config key="enableHilite_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="enableHilite" type="xboolean" value="false"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.mine.cluster.kmeans.ClusterNodeFactory2"/>
    <entry key="node-name" type="xstring" value="k-Means"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.8.0.v202510020824"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.8.0.v202510021208"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="k-Means"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 2000, Cols: 201"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
        <config key="port_2">
            <entry key="index" type="xint" value="2"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 5, Cols: 200"/>
            <entry key="port_dir_location" type="xstring" value="port_2"/>
        </config>
        <config key="port_3">
            <entry key="index" type="xint" value="3"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.node.port.pmml.PMMLPortObjectSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.port.pmml.PMMLPortObject"/>
            <entry key="port_object_summary" type="xstring" value="PMML document with version 4.2 and models: ClusteringModel"/>
            <entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
            <entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
            <entry key="port_dir_location" type="xstring" value="port_3"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="bfa1223f-6d90-4962-8aba-3dfa2eac05fc"/>
    </config>
</config>
